# Copyright (c) 2021 Nordic Semiconductor ASA
# SPDX-License-Identifier: Apache-2.0

config RN_LED_MATRIX
	bool "Railnova LED matrix driver"
	depends on GPIO
	help
	  Enable Railnova LED matrix driver.
